.AuthenticatePage{
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.auth-navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #f9fafb; /* Light neutral background */
}

.auth-navbar h3{
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    color: #76a68f; /* Soft green */
}

.auth-navbar p{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-left: 2vw;
    color: #4b4a47; /* Dark grey */
    font-weight: 600;
    cursor: pointer;
}

.authForm{
    margin-top: 15vh;
    padding: 20px;
    width: 34%;
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: max-content;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 0.5rem;
}

.authForm h2{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #5b8ca1; /* Muted blue */
    font-size: 1.8rem;
}

.authFormInputs {
    width: 100%;
    height: 50px;
}

.authFormInputs label{
    color: #407a80; /* Soft teal */
}

.authFormInputs input, .authForm select{
    color: #407a80;
    border: none;
    outline: none;
    background-color: rgba(231, 235, 235, 0);
    border: 1px solid #98b1b7; /* Soft blue-grey */
    padding: 15px 10px;
}

.authForm button{
    background-color: #5b8ca1; /* Muted blue */
    font-weight: bold;
    color: #f6fbff; /* Soft white */
    height: 50px;
}

.authForm p{
    margin-top: 5%;
    color: #4b4a47; /* Dark grey */
}

.authForm p span{
    color: #407a80; /* Soft teal */
    cursor: pointer;
}
